@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
  }
.fhomebtn {
    width: 17vw;
    margin-top: 630px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 55px;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
}

.shomebtn,
.smonitorbtn {
    width: 15vw;
    height: 55px;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 2vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    margin-top: 630px;
}

.mhomebtn,
.mbackbtn {
    width: 15vw;
    height: 55px;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 2vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    margin-top: 630px;
}
.smonitorbtn,
.mbackbtn {
  left: 33%;
}
.mhomebtn,
.shomebtn {
  right: 33%;
}

.startbtn {
    width: 17vw;
    margin-top: 630px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 55px;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
}
button:hover {
    background-color: black;
}
.login:hover {
    border: 1px solid gray;
}

.login {
    width: 420px;
    height: 120px;
    background-color: black;
    opacity: 1;
    position: absolute;
    margin-top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    border-radius:30px;
    border: none;
}

.github {
    height: 70px;
    margin-right: 5%;
}
