@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
  }
.fhomebtn {
    margin-top: 5%;
    width: 17%;
    height: 55px;
    background-color: gray;
    opacity: 1;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 1.8vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    @media (max-width: 600px){
        width: 22%;
        margin-top: 10%;
        font-size: 2.5vw;
        height: 40px;
    }
}

.shomebtn,
.smonitorbtn {
    margin-top: 5%;
    width: 15%;
    height: 55px;
    background-color: gray;
    opacity: 1;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 1.7vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    @media (max-width: 600px){
        width: 20%;
        margin-top: 10%;
        font-size: 2.5vw;
        height: 40px;
    }
}

.mhomebtn,
.mbackbtn {
    width: 15%;
    margin-top: 5%;
    height: 55px;
    background-color: gray;
    opacity: 1;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 1.7vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    @media (max-width: 600px){
        width: 20%;
        margin-top: 10%;
        font-size: 2.5vw;
        height: 40px;
    }
}
.smonitorbtn,
.mbackbtn {
  margin-left: 2%;
}
.mhomebtn,
.shomebtn {
  margin-right: 2%;
}
.fhomebtn:hover,
.shomebtn:hover,
.smonitorbtn:hover,
.mbackbtn:hover,
.mhomebtn:hover {
    background-color: black;
}
.login:hover {
    border: 1px solid gray;
}

.login {
    background-color: black;
    opacity: 1;
    margin-top: 10%;
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    border-radius: 20px;
    border: none;
    padding: 20px 10px 20px 10px;
    @media (max-width: 900px){
        width: 45%;
        font-size: 3vw;
        margin-top: 15%;
        height: 85px;
    }
    @media (max-width: 600px){
        width: 50%;
        margin-top: 20%;
        height: 60px;
        font-size: 3.2vw;
    }
}

.github {
    width: 50px;
    margin-right: 2%;
    @media (max-width: 900px){
        width: 13%;
        margin-right: 4%;
    }
    @media (max-width: 600px){
        width: 15%;
        margin-right: 6%;
    }
}
