@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}

.fhomebtn {
    width: 15vw;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 7vh;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
}

.shomebtn,
.smonitorbtn {
    width: 15vw;
    top: 85%;
    height: 7vh;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
}

.mhomebtn,
.mbackbtn {
    width: 15vw;
    top: 90%;
    height: 7vh;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
}
.smonitorbtn,
.mbackbtn {
  left: 33%;
}
.mhomebtn,
.shomebtn {
  right: 33%;
}

.startbtn {
    width: 17vw;
    top: 90%;
    left: 50%;
    height: 7vh;
    background-color: gray;
    opacity: 1;
    position: absolute;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3vh;
    text-align: center;
    border-radius: 1000px;
    border: none;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.login {
    width: 50vh;
    height: 13vh;
    background-color: black;
    opacity: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 3.5vh;
    text-align: center;
    border-radius:20px;
}

.github {
    height: 7vh;
    margin-right: 5%;
}

@media (max-aspect-ratio: 6/7){
    .fhomebtn {
        width: 17vw;
        top: 85%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 5vh;
        background-color: gray;
        opacity: 1;
        position: absolute;
        color: white;
        font-family: ONE-Mobile-Bold;
        font-size: 2vh;
        text-align: center;
        border-radius: 1000px;
        border: none;
        overflow: hidden;
    }
    
    .shomebtn,
    .smonitorbtn {
        width: 17vw;
        top: 85%;
        height: 5vh;
        background-color: gray;
        opacity: 1;
        position: absolute;
        color: white;
        font-family: ONE-Mobile-Bold;
        font-size: 2vh;
        text-align: center;
        border-radius: 1000px;
        border: none;
        overflow: hidden;
    }
    
    .mhomebtn,
    .mbackbtn {
        width: 17vw;
        top: 90%;
        height: 5vh;
        background-color: gray;
        opacity: 1;
        position: absolute;
        color: white;
        font-family: ONE-Mobile-Bold;
        font-size: 2vh;
        text-align: center;
        border-radius: 1000px;
        border: none;
        overflow: hidden;
    }
    .smonitorbtn,
    .mbackbtn {
      left: 30%;
    }
    .mhomebtn,
    .shomebtn {
      right: 30%;
    }
    
    .startbtn {
        width: 17vw;
        top: 90%;
        left: 50%;
        height: 5vh;
        background-color: gray;
        opacity: 1;
        position: absolute;
        color: white;
        font-family: ONE-Mobile-Bold;
        font-size: 2vh;
        text-align: center;
        border-radius: 1000px;
        border: none;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
    
    .login {
        width: 35vh;
        height: 13vh;
        background-color: black;
        opacity: 1;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: ONE-Mobile-Bold;
        font-size: 2.5vh;
        text-align: center;
        border-radius:20px;
    }
    
    .github {
        height: 5vh;
        margin-right: 5%;
    }
}