@font-face {
  font-family: "Acme";
  src: url(../fonts/Acme-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Bold";
  src: url(../fonts/ONE-Mobile-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url(../fonts/ONE-Mobile-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf) format("truetype");
}

.deploy {
  max-width: 1280px;
  min-height: 750px;
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  align-items: center;
}
.name {
  display: flex;
  font-size: 1vw;
  font-family: ONE-Mobile-Bold;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-top: 5%;
  margin-left: 5%;
  background-color: white;
  border: 1px solid black;
  width: 20%;
  height: 40px;
  opacity: 0.8;
}
.deploylist {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
}
.deploylist::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
