@font-face {
  font-family: "Acme";
  src: url(../fonts/Acme-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Bold";
  src: url(../fonts/ONE-Mobile-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url(../fonts/ONE-Mobile-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf) format("truetype");
}

.deploy {
  max-width: 1280px;
  min-height: 750px;
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}
.name {
  display: flex;
  font-size: 1vw;
  font-family: ONE-Mobile-Bold;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-top: 5%;
  margin-left: 5%;
  background-color: white;
  border: 1px solid black;
  width: 20%;
  height: 40px;
  opacity: 0.8;
}
.deploylist {
  margin-top: 5%;
  height: 60%;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
}
.deploylist::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.selectbtn {
  width: 14%;
  height: 40px;
  background-color: gray;
  opacity: 1;
  color: white;
  font-family: ONE-Mobile-Bold;
  font-size: 1vw;
  text-align: center;
  border: none;
  overflow: hidden;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
.selectbtn:hover {
  background-color: black;
}
.list {
  line-height: 40px;
  padding-left: 2%;
  width: 100%;
  height: 40px;
  text-align: left;
  color: #808080;
  list-style: none;
  background-color: rgba(234, 236, 239, 0.87);
  font-family: ONE-Mobile-Bold;
  font-weight: bold;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
