@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}

.flogo {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }

.fhomebtn {
    width: 15%;
    height: 7%;
    background-color: gray;
    opacity: 1;
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-size: 2vw;
    text-align: center;
    border-radius: 1000px;
    transform: translate(-50%, 0%);
    border: none;
}
p {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: ONE-Mobile-Regular;
  }
.fmessage {
    font-size: 4vw;
    font-weight: Bold;
    bottom: 30%;
    color: white;
}
.fdone {
    font-size: 2vw;
    font-weight: Bold;
    bottom: 25%;
    color: white;
}

.fcheck {
    font-size: 2vw;
    font-weight: Bold;
    bottom: 18%;
    color: white;
}
