@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}


.logoname {
    height: 250px;
    position: absolute;
    transform: translate(-50%);
    margin-top: 120px;
}

input {
    text-align: left;
    background-color: rgba(234,236,239,0.87);
    border-radius: 1000px;
    border: none;
    width: 70%;
    height: 50px;
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
    font-size: 30px;
    opacity: 1;
    text-indent: 2%;
}

.inputname {
    margin-top: 420px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.inputURL {
    margin-top: 520px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
