@font-face {
  font-family: "ONE-Mobile-Bold";
  src: url(../fonts/ONE-Mobile-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url(../fonts/ONE-Mobile-Regular.ttf) format("truetype");
}

.main {
  max-width: 1280px;
  min-height: 750px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}
.canvas {
  min-height: 900px;
  height: 100vh;
}

.listbox {
  margin-top: 10%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  max-height: 500px;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
}
.listbox::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.selectbtn {
  width: 10%;
  height: 40px;
  background-color: gray;
  opacity: 1;
  color: white;
  font-family: ONE-Mobile-Bold;
  font-size: 1vw;
  text-align: center;
  border: none;
  overflow: hidden;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
.list {
  line-height: 40px;
  padding-left: 2%;
  width: 100%;
  height: 40px;
  text-align: left;
  color: #808080;
  list-style: none;
  font-family: ONE-Mobile-Bold;
  font-weight: bold;
  background-color: rgba(234, 236, 239, 0.87);
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.logoname {
  width: 50%;
  margin-top: 10%;
  @media (max-width: 900px) {
    width: 60%;
    margin-top: 15%;
  }
  @media (max-width: 600px) {
    width: 70%;
    margin-top: 20%;
  }
}
.signup {
  width: min-content;
  font-size: 20px;
  color: white;
  margin: 10px;
  cursor: pointer;
}
.signup:hover {
  font-weight: bold;
}