@font-face {
    font-family: 'Acme';
    src: url(../fonts/Acme-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ONE-Mobile-Bold';
    src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}

.container-name {
    font-size: 1.3vw;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    bottom: -90%;
    font-family: ONE-Mobile-Bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-block {
    display: flex;
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 4%;
    background-color: white;
    border: 1px solid black;
    width: 15%;
    height: 4%;
    opacity: 0.8;
  }

  .chart-container {
    top: 20%;
    right: 7%;
    width: 105%;
    height: 80%;
    position: relative;
  }

  .cpu-block,
  .log-block,
  .memory-block,
  .disk-block,
  .networkin-block,
  .networkout-block {
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #d0d0d0;
    width: 25%;
    height: 30%;
  }
  
  .cpu-block {
    bottom: 53%;
    left: 9%;
  }

  .log-block {
    bottom: 53%;
    left: 39%;
  }

  .memory-block {
    bottom: 53%;
    left: 69%;
  }

  .disk-block {
    bottom: 15%;
    left: 9%;
  }

  .networkin-block {
    bottom: 15%;
    left: 39%;
  }

  .networkout-block {
    bottom: 15%;
    left: 69%;
  }

  .NameBlock {
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: gray;
    width: 100%;
    height: 15%;
    opacity: 1;
    text-align: center;
  }

  .text-match {
    font-size: 1.5vw;
    color: white;
    z-index: 1;
    position: absolute;
    font-family: Acme;
    font-weight: bold;
    top: 50%;
  }

  .button-text {
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
    top: 15%;
  }

  @media (max-aspect-ratio: 0.5) {
    .container-name {
      font-size: 1.7vw;
      left: 50%;
      top: 17%;
    }

    .text-match {
      top: 18%;
      font-size: 1.9vw;
    }
  }

  @media (max-aspect-ratio: 1.5) {
    .container-name {
      font-size: 1%;
      left: 57%;
      top: -25%;
    }

    .text-block {
      top: 12%
    }

    .text-match {
      font-size: 1.5vw;
      top: -5%;
    }
  }
