@font-face {
  font-family: 'ONE-Mobile-Bold';
  src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}


.navbar {
    width: 100vw;
    height: 5vh;
    background-color: white;
    padding: 10%;
    text-align: right;
}

.navbar_logo {
    height: 100%;
    position: absolute;
    top: 3%;
    left: 0%;
}

  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Inter', ONE-Mobile-Regular;
    font-size: 2vh;
    opacity: 1;
    margin-right:10px 
  }
  
  .dropdown-toggle {
    background-color: white;
    background-image: none;
    border: none;
    background-image: none !important;
    padding-right: 0 !important;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 10%;
    background-color: #fff;
  }
  
  .dropdown-menu li {
    text-align: center;
    list-style: none;
    padding: 1%;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  