@font-face {
  font-family: 'ONE-Mobile-Bold';
  src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ONE-Mobile-Regular';
  src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}


.navbar {
    width: 100%;
    height: 7%;
    background-color: #333333;
    text-align: right;
    z-index: 1;
}

.navbar_logo {
    height: 100%;
    position: absolute;
    top: 3%;
    left: 0%;
}

  .dropdown {
    height: 100%;
    position: relative;
    display: inline-block;
    font-family: 'Inter', ONE-Mobile-Regular;
    font-size: 100%;
    opacity: 1;
  }
  
  .dropdown-toggle {
    background-color: #333333;
    background-image: none;
    border: none;
    color: white;
    background-image: none !important;
    padding-right: 10px !important;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 10%;
    background-color: #fff;
  }
  
.menu {
    text-align: center;
    list-style: none;
    padding: 1%;
  }
.menu:hover {
    background-color: black;
    color: white;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  