@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
}

.rmessage {
    font-size: 4vw;
    font-weight: Bold;
    top: 30%;
    color: white;
    font-family: Inter;
}

.loading-container {
    justify-content: center;
    align-items: center;
  }
  
  .moving-image {
    width: 10%;
    height: 15%;
    z-index: 1;
    background-image: url("../../assets/images/logo.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: 35%;
    animation: moveImage 3s linear infinite;
  }
  
  @keyframes moveImage {
    0% {
      left: -100%;
    }
    100% {
      left: calc(100% - 10%);
    }
  }
  