@font-face {
  font-family: 'ONE-Mobile-Bold';
  src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
}

@font-face {  
  font-family: 'ONE-Mobile-Regular';
  src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}
  .logo {
    height: 30vw;
    object-fit: contain;
    position: absolute;
    margin-top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flogo {
    height: 400px;
    object-fit: contain;
    position: absolute;
    margin-top: 220px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  p {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
  }
  
  .message {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 400px;
  }
  
  .done {
    font-size: 30px;
    font-weight: bold;
    margin-top: 500px;
    color: white;
  }
  
  .check {
    font-size: 30px;
    font-weight: bold;
    margin-top: 550px;
    color: white;
  }