@font-face {
  font-family: "ONE-Mobile-Bold";
  src: url(../fonts/ONE-Mobile-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url(../fonts/ONE-Mobile-Regular.ttf) format("truetype");
}
.result {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}
.logo {
  width: 30%;
  margin-top: 7%;
  @media (max-width: 900px) {
    width: 40%;
    margin-top: 10%;
  }
  @media (max-width: 600px) {
    width: 50%;
    margin-top: 15%;
  }
}
.flogo {
  width: 30%;
  margin-top: 7%;
  transform: rotate(180deg);
  @media (max-width: 900px) {
    width: 40%;
    margin-top: 10%;
    transform: rotate(180deg);
  }
  @media (max-width: 600px) {
    width: 50%;
    margin-top: 15%;
    transform: rotate(180deg);
  }
}

.message,
.done,
.check {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  font-family: ONE-Mobile-Bold;
  font-weight: bold;
  width: 100%;
}

.message {
  font-size: 60px;
  font-weight: bold;
  color: white;
  @media (max-width: 900px) {
    margin-top: 4%;
  }
  @media (max-width: 600px) {
    margin-top: 7%;
    font-size: 9vw;
  }
}

.done {
  font-size: 30px;
  font-weight: bold;
  color: white;
  @media (max-width: 600px) {
    font-size: 5vw;
  }
}

.check {
  font-size: 30px;
  font-weight: bold;
  color: white;
  @media (max-width: 600px) {
    font-size: 5vw;
  }
}
