@font-face {
  font-family: 'ONE-Mobile-Bold';
  src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');

  font-family: 'ONE-Mobile-Regular';
  src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}

  
  .slogo {
    width: 30%;
    height: 55%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .shomebtn,
  .smonitorbtn {
    width: 15%;
    height: 7%;
    background-color: gray;
    opacity: 1;
    position: absolute;
    bottom: 10%;
    color: white;
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    border-radius: 1000px;
    border: none;
  }
  
  .shomebtn {
    left: 33%;
  }
  
  .smonitorbtn {
    right: 33%;
  }
  
  p {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
  }
  
  .smessage {
    font-size: 4vw;
    font-weight: bold;
    color: white;
    bottom: 30%;
  }
  
  .sdone {
    font-size: 2vw;
    font-weight: bold;
    bottom: 25%;
    color: white;
  }
  
  .scheck {
    font-size: 2vw;
    font-weight: bold;
    bottom: 18%;
    color: white;
  }
  