@font-face {
  font-family: 'ONE-Mobile-Bold';
  src: url(../fonts/ONE-Mobile-Bold.ttf) format('truetype');
}

@font-face {  
  font-family: 'ONE-Mobile-Regular';
  src: url(../fonts/ONE-Mobile-Regular.ttf) format('truetype');
}
  .slogo {
    height: 50vh;
    object-fit: contain;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  p {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: ONE-Mobile-Bold;
    font-weight: bold;
  }
  
  .smessage {
    font-size: 5vh;
    font-weight: bold;
    color: white;
    top: 60%;
  }
  
  .sdone {
    font-size: 3vh;
    font-weight: bold;
    top: 70%;
    color: white;
  }
  
  .scheck {
    font-size: 3vh;
    font-weight: bold;
    top: 76%;
    color: white;
  }
